body {
  min-width: 320px;
}

.header-bg {
  padding: 0 10px;
  background-color: #27262a;
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-forkio {
  text-decoration: none;
  position: relative;
}

.logo-forkio {
  width: 88px;
  height: 18px;
  color: $purple;
  font-family: $fontLato;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  display: none;
  position: absolute;
  bottom: 13px;
  left: 50px;
}

.header-btn {
  @include buynowSection;
  padding-top: 12px;
  width: 119px;
  height: 30px;
}

.link_header_button {
  text-decoration: none;
  color: $white;
  height: 37px;
}


.header_menu__line {
  width: 23px;
  height: 2px;
  background-color: $white;
  position: relative;
  bottom: 3px
}

.header_menu__line::after {
  content: "";
  width: 28px;
  height: 2px;
  background-color: $white;
  position: absolute;
  top: 7px;
  left: -5px;
}

.header_menu__line::before {
  content: "";
  width: 28px;
  height: 2px;
  background-color: $white;
  position: absolute;
  top: 14px;
  left: -5px;
}

.header_menu {
  position: relative;
  display: flex;
  justify-content: center;
}

.nav_bar {
  position: absolute;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 290px;

  &__items {
    text-align: left;
    font-family: $fontMontserrat;
    padding-left: 48px;
    color: $purple;
    background-color: #333333;
    border: 1px solid #3b3b3b;
    font-weight: 400;
    line-height: 106px;
    font-size: 26px;
  }
}

@media (min-width: 481px) {
  .nav_bar {
    display: flex;
  }
  &__items:hover {
    color: #8d81ac;
  }
}

.header_menu.active {
  display: flex;
}
.fork {
  text-align: center;
  background-image: url("../img/img_forp_app.png");
  padding-bottom: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.fork-app {
  padding-top: 43px;
  color: #ffffff;
  font-family: $fontMontserrat;
  font-size: 48px;
  font-weight: 700;
}

.fork-app-below-text {
  padding-top: 20px;
  color: #8d81ac;
  font-family: $fontMontserrat;
  font-size: 18px;
  font-weight: 400;
}

.text-mac-windows {
  padding-top: 20px;
  color: #848e97;
  font-family: $fontMontserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.header-download-btn {
  text-decoration: none;
  position: relative;
  bottom: 23px;
  display: flex;
  justify-content: center;
}

.download-for-free {
  @include buynowSection;
  color: $white;
  font-family: $fontMontserrat;
  font-size: 18px;
  bottom: 23px;
  width: 290px;
  height: 45px;
  line-height: 44px;
}

.dwnld_btn {
  width: 290px;
  margin: 0 auto;
}

.text-below-download-for-free {
  color: #848e97;
  font-family: $fontMontserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

.section__title {
  background-image: url("../img/testmonials-bg.png");
  height: 100%;
}

.section_logo_text {
  text-align: center;
}

.section__main__text {
  color: $white;
  font-family: $fontMontserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 49px;
}

.section_img {
  padding-top: 41px;
}

.logo_text {
  color: $white;
  font-family: $fontLato;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  padding-top: 37px;
}

.text_below_section_logo {
  display: none;
}

@media screen and (min-width: 481px) {
  .section__title {
    background-image: url("../img/testmonials-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header_menu__line {
    display: none;
  }

  .logo-forkio {
    display: block;
  }

  .header_menu {
    display: flex;
    justify-content: center;
  }
  .nav_bar {
    flex-direction: row;
    white-space: nowrap
  }
  .nav_bar__items {
    color: #8d81ac;
    font-family: $fontMontserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    background-color: #27262a;
    border: 0;
    position: relative;
    bottom: 21px;
  }
  .flex-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 90px;
    align-items: baseline;
    padding-left: 18px;
  }
  .section_logo_text {
    width: 315px;
    padding-top: 41px;

  }
  .section_img {
    padding-top: 41px;
  }
  .text_below_section_logo {
    display: block;
    opacity: 0.8;
    color: #a291a5;
    font-family: $fontLato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding-top: 61px;
  }
}

@media screen and (min-width: 993px) {
  .header-bg {
    padding: 0 10px;
    background-color: #27262a;
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fork {
    text-align: center;
    background-image: url("../img/img-desktop.png");
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fork-app {
    padding-top: 43px;
    color: #ffffff;
    font-family: $fontMontserrat;
    font-size: 82px;
    font-weight: 700;
  }

  .fork-app-below-text {
    padding-top: 20px;
    color: #8d81ac;
    font-family: $fontMontserrat;
    font-size: 30px;
    font-weight: 400;
  }

  .text-mac-windows {
    padding-top: 20px;
    color: #848e97;
    font-family: $fontMontserrat;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .header-download-btn {
    text-decoration: none;
    position: relative;
    bottom: 23px;
    display: flex;
    justify-content: center;
  }

  .download-for-free {
    @include buynowSection;
    color: $white;
    font-family: $fontMontserrat;
    font-size: 18px;
    bottom: 23px;
    width: 290px;
    height: 45px;
    line-height: 44px;
  }

  .dwnld_btn {
    width: 290px;
    margin: 0 auto;
  }

  .text-below-download-for-free {
    color: #848e97;
    font-family: $fontMontserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
  }
  .nav_bar__items {
    bottom: 55px;
  }
  .section__title {
    background-image: url("../img/testmonials-bg-desktop.png");
    height: 100%;
  }
  .flex-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 90px;
    align-items: baseline;
    padding-left: 18px;
  }
  .section_logo_text {
    width: 315px;
    padding-top: 41px;

  }
  .section_img {
    padding-top: 41px;
  }
  .text_below_section_logo {
    display: block;
    opacity: 0.8;
    color: #a291a5;
    font-family: $fontLato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding-top: 61px;
    width: 857px;
    margin: 0 auto;
  }

}

