.here_is_what{
  font-family: sans-serif;
  @include width;
  background-color: #f4f4f4;
  box-sizing: border-box;
}
.here_is_what-heading{
  @include header;
  color: #8d81ac;
  padding: 20px 0 5px 0;
  &__span{
    display: block;
  }
}
.fuck{
  display: flex;
  justify-content: right;
}
.here_is_what_main{
  display: flex;
  flex-direction: column;
}
.here_is_what_items{
  text-align: center;
  &__img{
    padding: 25px 0 25px 0;
  }
  &__header-text{
    font-size: 18px;
    padding-bottom: 10px;
    color: #171616;
  }
  &__text{
    font-size: 18px;
    color: #848e97;
    padding-bottom: 10px;
  }
}

.here_is_what_items-img{
  margin-top: 50px;
  order: 2;
  height: 385px;
  width: 100%;
  position: relative;
}
.here_is_what_items-img:after{
  content: '';
  height: 380px;
  width: 92vw;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/editor.png");
  background-size:cover;
  background-repeat: no-repeat;
}


@media screen and (min-width: 481px) {
  .here_is_what-heading {
    font-size: 30px;
    padding: 30px 0 50px 0;
    &__span {
      display: inline;
    }
  }
  .here_is_what_items {
    text-align: left;
    display: flex;
  }
  .here_is_what_items__div {
    display: flex;
    flex-direction: column;
  }
  .here_is_what_main{
    display: flex;
  }
  .for-img{
    min-width: 133px;
  }
}

@media screen and (min-width: 993px){
  .here_is_what{
    display: flex;
  }
  .here_is_what-heading{
    position: absolute;
    left: 60vw;
    padding: 0;
  }
  .here_is_what_items{
    display: flex;
  }
  .here_is_what_items-img:after{
    width: 100%;
  }
}














