<<<<<<< HEAD
@mixin buynowSection {
  background-color: #6f6292;
  border-radius: 18px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
}

=======
@mixin width{
  min-width: 320px;
  padding: 25px 25px 80px 25px;
  box-sizing: border-box;
}
@mixin header {
  font-size: 20px;
  text-align: center;
  color: #5c4a84;
  font-weight: bold;
  padding: 20px 0 10px 0;
  text-transform: uppercase;
}
@mixin style-button{
  border: 1px #e4e4e4 solid;
  border-radius: 3px 0 0 3px;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  color: #24292e;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  line-height: 10px;

}
@mixin style-count{
  text-decoration: none;
  border: 1px solid #e4e4e4;
  border-left: none;
  font-size: 12px;
  line-height: 20px;
  padding: 3px 10px;
  border-radius: 0 3px 3px 0;background-color: #fff;
  color: #24292e;
}

@mixin style-for-subs_item{
  background-color: #5f5161;
  width: 241px;
  height: 457px;
  margin: 20px auto;
}
@mixin style-for-subs-job{
  width: 100%;
  height: 97px;
  background-color: #685b6a;
}

@mixin style-button-subs {
  width: 160px;
  height: 42px;
  border-radius: 20px;
  background-color: #776b79;
  text-align: center;
  margin: 45px auto;
  box-sizing: border-box;
  padding: 12px;
  color: $color-text-fork;
  text-transform: uppercase;
  cursor: pointer;
}




>>>>>>> f85a4bf1a416fa8ce88541ed5434f1418b76c285
