.revol-editor{
 @include width;


  &__header{
    @include header;
  }
  &__header-title{
    display: block;
    padding: 20px 0 20px 0;
  }
  &__text{
    font-size: 15px;
    color: #5b5b5b;
    text-align: center;
  }
}
.watches-btns{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 30px;
  justify-content: center;

  &__div{
    display: flex;
  }

  &__st-btns{
    display: flex;
    padding: 3px 10px;
    @include style-button;
    margin-top: 16px;
  }

  &__count {
    @include style-count;
    margin-top: 16px;
  }

  .marg-r{
    margin-right: 16px;
  }
  .marg-l{
    margin-left: 16px;
  }

  &__text{
    padding: 8px 0 0 4px;

  }
}

.watches-btns-fork{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width:481px){
  .revol-editor{
    &__header{
      font-size: 30px;
    }
    &__header-title{
      display:inline;
    }
    &__text{
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 993px) {
  .revol-editor {
    &__header {
      font-size: 40px;
    }
  }
}


