.fork_subscription_pricing{
  background-color: $bg-color-subscripton;
  box-sizing: border-box;
  font-family: sans-serif;
  @include width;
  padding: 25px 18px 17px 18px;
  &__heading{
    font-size: 27px;
    color:$color-text-fork;
    margin: 60px 0 30px 0;
    text-align: center;
  }
  &__span{
    padding-top: 10px;
    display: block;
  }
}
.fork_subscription_pricing:before{
  content: '';
  display: block;
  height: 3px;
  background-color: #645766;
  margin: 0 auto;
}
.fork_subs_items{
  @include style-for-subs_item;

  &__job{
    @include style-for-subs-job;
  }
  &__job-text{
    color: $color-text-fork;
    text-align: center;
    padding-top: 36px;
    font-size: 25px;
    text-transform: uppercase;
  }
  &__price{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 30px;
    color: $color-text-fork;
  }
  &__month{
    color: #8f8691;
    text-align: center;
    padding-bottom: 40px;
  }
  &__text{
    color: $color-text-fork;
    text-align: center;
    line-height: 25px;
  }
  &__btn{
    text-decoration: none;
  }
  &__btn-text{
    @include style-button-subs;
  }
  &__btn-text:hover{
    background-color: #cac5ca;
  }
  &__for-me{
    width: 160px;
    height: 42px;
    border-radius: 20px;
    background-color: #776b79;
    text-align: center;
    margin: 70px auto;
    box-sizing: border-box;
    padding: 12px;
    color: $color-text-fork;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__for-me:hover{
    background-color: #cac5ca;
  }
}
.items-center{
  width: 190px;
  margin: 0 auto;
}
.fork_subs_items__month:after{
  content: '';
  display: block;
  height: 5px;
  width: 60px;
  background-color: #8d81ac;
  margin: 33px auto 0;
}

        //ACTIVE
.fork_subs_items.active{
  background-color: #413344;
  width: 290px;
  height: 560px;
  margin: 20px auto;
}
.fork_subs_items__job.active{
  background-color: #3a2d3d;
}
.items-center.active{
  width: 230px;
}
.fork_subs_items__price.active{
  font-size: 70px;
}
.fork_subs_items__btn-text.active{
  width: 190px;
  height: 52px;
  margin: 112px auto 0;
  padding: 19px;
}

@media screen and (min-width: 481px){
  .fork_subscription_pricing{
    background-image: url("../img/bg-subs.png");
    background-repeat: no-repeat;
    background-size: cover;
    &__heading{
      font-size: 30px;
    }
    &__span{
      display: inline;
    }
  }
  .position{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .fork_subs_items.enterprice{
    margin-top: 60px;
  }
  .fork_subs_items{
    background-color: rgba(95, 81, 97, 0.49);
  }
  .fork_subs_items.active{
    background-color: rgba(64, 52, 68, 0.67);
  }
}

@media screen and (min-width: 993px){
    .position{
      display: flex;
      margin-top: 80px;
    }
  .fork_subs_items.active{
    margin-top: -35px;
  }
  .fork_subs_items.enterprice{
    margin-top: 20px;
  }
}


